/build
/.gradle
/.idea
#/gradle
/backup
#/src/test/resources/hibernatetest.properties
/schedule_logs
derby.log
.DS_Store
.env
!gradle/wrapper/gradle-wrapper.jar
**/*.war
*.jpg
files/
*.tfvars
infra/ansible/.vault_pass
infra/ansible/inventory/gcp.ini
infra/terraform/gcp/backend.conf
*.terraform

*.dump
*.sql
/database
dumps/
backups/
infra/ansible/roles/database/files/
infra/ansible/roles/*/files/*.dump
infra/ansible/roles/*/files/*.sql
*.tmp
debug-local.sh
