#!/bin/bash
set -e

# wait for PostgreSQL is ready
until pg_isready -h localhost -p 5432 -U {{ database_user }}; do
  echo "Waiting for PostgreSQL to be ready..."
  sleep 2
done

# Checking if dump is resotred
if [ ! -f /var/lib/postgresql/data/.dump_restored ]; then
    echo "Restoring database from dump..."

    # Restoring db dump
    pg_restore -h localhost -p 5432 -U {{ database_user }} -d {{ database_name }} \
               --verbose --clean --no-acl --no-owner \
               /docker-entrypoint-initdb.d/database.dump || true

    # Dump restoration confirmation
    touch /var/lib/postgresql/data/.dump_restored

    echo "Database dump restored successfully!"
else
    echo "Database dump already restored, skipping..."
fi
